<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit document</title>
  </head>
  <body>
    <h1>You are about to edit this user: <%= user.id %></h1>
    <form method="POST" action="/user/<%= user.id %>">
      <input type="hidden" name="_method" value="PATCH" />
      <textarea name="username"><%= user.username %></textarea>
      <br /><br />
      <input
        type="password"
        name="password"
        placeholder="Enter your password"
      />
      <button>Submit</button>
    </form>
  </body>
</html>
